<form action="/sign_in" method='post' id='sign_in'>
  <label for="username">Username</label>
  <input type="text" name='user[email]'>
  <label for="password">Password</label>
  <input type="password" name='user[password]'>
  <input type="submit" value='submit'>
</form>
